.header-div {
    margin: 0;
    padding: 0;
    height: 30vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-header {
    color: white !important;
    margin: 0;
    padding: 2em 0 0.25em 0;
    font-size: 3em;
    text-transform: uppercase;
}

.divider {
    background-color: white !important;
    width: 10em;
}